.btnbox{
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}
.storebtn{
    width: 550px;
    
    display: flex;
    justify-content: space-evenly;

}
.btn{
    padding: 8px;
    font-size: 18px;
    
    color: white;
    background-color: rgba(39, 35, 84, 0.8);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    border: 2px solid white;
}